.movies-page {
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  place-content: center;
  place-items: center;
  gap: 50px;
  width: 90%;
  margin: 50px auto;
}
.movies-page h1 {
  margin: 20px 100px;
}
.movies-page h2 {
  font-size: 24px;
  margin: 0 100px;
}
.movies-page span {
  color: red;
}
.movies-page .num {
  display: none;
}
.movies-page .top-banner {
  display: none;
}
.movies-page .page-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 80px;
}
.page-input .total-pages {
  font-size: 28px;
  margin: 0;
}
.page-input input {
  width: 80px;
  padding: 4px;
  border-radius: 12px;
  font-size: 28px;
}
.page-input button {
  padding: 6px;
  border-radius: 12px;
  background-color: red;
  color: white;
  border: none;
  outline: none;
  margin-left: 12px;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  gap: 10px;
}
.pagination .active .page-link {
  background-color: red;
  color: white;
  border: none;
}
.page-link {
  color: red;
}
.page-link:hover {
  color: black;
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (max-width: 576px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
